{{#docs-header}}

{{/docs-header}}

{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.section "General"}}
    {{nav.item "Introduction" "docs.index"}}

    {{nav.section "Components"}}
    {{nav.item "Forms" "docs.forms"}}
    {{nav.item "Bootstrap Extras" "docs.extras"}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}