{{yield (hash filter=(component 'table/table/table-filter' parentComponent=this))}}
<div class="row">
  <div class="col-md-12">
    {{#ui/ui-box as |b|}}
      {{yield (hash boxHeader=b.header)}}
      {{#b.body classNames="no-padding"}}
        {{#if table }}
          {{#light-table
            table
            class="table"
            responsive=internalTableOptions.responsive
            onAfterResponsiveChange=(action 'onAfterResponsiveChange')
            height=internalTableOptions.height as |t|}}
            {{t.head
              onColumnClick=(action 'onColumnClick')
              iconAscending='fa fa-sort-asc'
              iconDescending='fa fa-sort-desc'

              fixed=true
            }}

            {{#t.body
              canSelect=internalTableOptions.canSelect
              expandOnClick=internalTableOptions.expandOnClick
              onScrolledToBottom=(action 'onScrolledToBottom')
            as |body| }}

              {{#if internalTableOptions.responsive }}
                {{yield (hash expandedRow=body.expanded-row)}}
              {{/if}}

              {{#if isLoading}}
                {{#body.loader}}
                  {{table/table-loader}}
                {{/body.loader}}
              {{/if}}


              {{#if table.isEmpty}}
                {{yield (hash noResults=body.no-data)}}
              {{/if}}

            {{/t.body}}
          {{/light-table}}
        {{/if}}
      {{/b.body}}

      {{yield (hash boxFooter=b.footer)}}
    {{/ui/ui-box}}
  </div>
</div>
