<div class="card-header">
  <h5>
    {{yield (hash header=(component 'ui/ui-box/ui-box-header'))}}
  </h5>
</div>

<div class="card-body {{content-modifier}}">
  {{yield (hash body=(component 'ui/ui-box/ui-box-body'))}}
</div>

<div class="card-footer">
  {{yield (hash footer=(component 'ui/ui-box/ui-box-footer'))}}
</div>

<ul class="list-group list-group-flush">
  {{yield (hash list=(component 'ui/ui-box/ui-box-list'))}}
</ul>

<div class="card-thumbnail">
  {{yield (hash image=(component 'ui/ui-box/ui-box-image'))}}
</div>
q